.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: 1.9fr 0.1fr;
  grid-template-rows: auto auto;
  gap: 0px 19px;
  grid-template-areas:
    "profile__author profile__button-edit"
    "profile__about-the-author profile__about-the-author";
}

@media screen and (max-width: 768px) {
  .profile__info {
    padding-top: 28px;
    max-width: 100%;
    grid-template-columns: 24px 1fr 24px;
    gap: 0px 10px;
    grid-template-areas:
      ". profile__author profile__button-edit"
      "profile__about-the-author profile__about-the-author profile__about-the-author";
  }
}
