.profile__about-the-author {
  margin-top: 7px;
  margin-bottom: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  width: 100%;

  grid-area: profile__about-the-author;
}

@media screen and (max-width: 768px) {
  .profile__about-the-author {
    justify-self: center;
    align-self: end;
    text-align: center;
    padding-bottom: 33px;
  }
}

@media screen and (max-width: 424px) {
  .profile__about-the-author {
    font-size: 14px;
    line-height: 17px;
  }
}
