.elements {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 32.0455%);
  gap: 20px 17px;
}

@media screen and (max-width: 768px) {
  .elements {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 424px) {
  .elements {
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(1, 88.125%);
    gap: 20px 0px;
  }
}
