.footer {
  display: flex;
  max-width: 880px;
  width: calc(100% - 2 * 200px);
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 67px;
  padding-bottom: 60px;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 2 * 100px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2 * 50px);
  }
}

@media screen and (max-width: 424px) {
  .footer {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
