.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
