.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.profile__avatar:hover {
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    margin-right: 0;
  }
}
