.profile__author {
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  grid-area: profile__author;
}

@media screen and (max-width: 768px) {
  .profile__author {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 424px) {
  .profile__author {
    font-size: 27px;
    line-height: 33px;
  }
}
