.header {
  padding-top: 45px;
  max-width: 880px;
  width: calc(100% - 2 * 200px);
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 2*100px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .header {
    padding-top: 0;
  }
}
